<template>
    <v-menu bottom left nudge-bottom="40" nudge-left="15">
        <template v-slot:activator="{ on }">
            <v-btn dark icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
        </template>

        <v-card>
            <v-btn
                text
                large
                :disabled="!hasPreviousVersion"
                @click="onPrevDeckButtonClicked"
            >
                <v-icon left dark>mdi-history</v-icon>
                Edellinen
            </v-btn>
            <v-btn
                text
                large
                color="primary"
                :disabled="!hasNextVersion"
                @click="onNextDeckButtonClicked"
            >
                Seuraava
                <v-icon right dark>mdi-update</v-icon>
            </v-btn>
            <v-divider></v-divider>
            <v-list>
                <v-list-item :href="arkhamUrl" target="_blank">
                    <v-list-item-icon>
                        <v-icon>mdi-open-in-new</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title> Näytä ArkhamDB:ssä </v-list-item-title>
                </v-list-item>

                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>mdi-information</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>Tiedot</v-list-item-title>
                </v-list-item>

                <v-list-item @click="onDeleteButtonClicked">
                    <v-list-item-icon>
                        <v-icon>mdi-delete</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>Poista</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-card>
    </v-menu>
</template>

<script>
export default {
    props: {
        deck: Object,
    },

    methods: {
        onPrevDeckButtonClicked() {
            this.$emit("previous");
        },

        onNextDeckButtonClicked() {
            this.$emit("next");
        },

        onDeleteButtonClicked() {
            const del = confirm("Haluatko varmasti poistaa tämän pakan?");
            if (del) {
                this.$emit("delete");
            }
        },
    },

    computed: {
        hasPreviousVersion() {
            return Boolean(this.deck.previous_deck);
        },

        hasNextVersion() {
            return Boolean(this.deck.next_deck);
        },

        arkhamUrl() {
            return `https://arkhamdb.com/deck/view/${this.deck.id}`;
        },
    },
};
</script>

<style scoped>
</style>