<template>
    <v-card v-if="cardsWithTooManyCopies.length > 0" style="margin: 20px; padding: 10px">
        <v-alert type="error">
            Joitain kortteja ei riitä kaikille!
        </v-alert>

        <v-tooltip v-for="card in cardsWithTooManyCopies" :key="card.code" bottom>
            <template v-slot:activator="{ on }">
                <v-chip v-on="on" pill style="margin: 5px;">
                    <v-avatar left color="red">{{card.total}}</v-avatar>
                    {{card.name}}<template v-if="card.xp > 0"> ({{card.xp}}xp)</template>
                </v-chip>
            </template>
            {{getCardTooltip(card)}}
        </v-tooltip>
        
    </v-card>
</template>

<script>
    function getCardQuatity(card) {

        // Random basic weakness
        if(card.code === "01000") {
            return Infinity;
        }

        // Get count of original cards                    
        const copyCount = card.pack_code === 'core'
            ? card.quantity * 2
            : card.quantity;

        // If this card appears later in boosters add them too
        // Two cards per booster where "duplicated_by" array of duplicates
        let duplicateCount = Array.isArray(card.duplicated_by) 
            ? card.duplicated_by.length * 2 
            : 0;

        return copyCount + duplicateCount;
    }

    export default {
        props: {
            decks: Array
        },

        methods: {
            getCardTooltip(card) {
                const total = card.total;
                const quantity = getCardQuatity(card);
                return `Tätä korttia on varattuna ${total} kappaletta, mutta saatavilla on vain ${quantity}`;
            }
        },

        computed: {
            cardsWithTooManyCopies() {
                const cards = [];
                this.decks.forEach(deck => {
                    deck.cards.forEach(card => {
                        const index = cards.findIndex(c => c.code === card.code);
                        if(index === -1) {
                            cards.push( Object.assign({}, card) );
                        }
                        else {
                            cards[index].total += card.total;
                        }
                    });
                });

                return cards.filter(card => {
                    const cardsAvailable = getCardQuatity(card);
                    return card.total > cardsAvailable;
                });
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>