<template>
    <div>
        <v-card v-if="!ready && !deck.id" style="margin: 10px" loading>
            <v-system-bar color="gray"></v-system-bar>
            <v-toolbar color="gray">
                <v-toolbar-title>
                    Ladataan pakkaa {{ deckId }}...
                </v-toolbar-title>
            </v-toolbar>

            <v-container style="min-height: 250px">
                {{ error }}
            </v-container>
        </v-card>
        <v-card v-else style="margin: 10px" :loading="!ready">
            <v-system-bar :color="getDeckColor() + ' darken-2'">
                <em style="font-size: small; color: #fff">
                    {{ player }}: {{ deck.investigator_name }} v.
                    {{ deck.version }}
                </em>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <em style="font-size: small; color: #fff" v-on="on">
                            {{ localDate(deck.date_update) }}
                        </em>
                    </template>
                    Viimeisin muokkaus {{ localDate(deck.date_update, true) }}
                </v-tooltip>
            </v-system-bar>

            <v-app-bar dark :color="getDeckColor()">
                <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
                <v-tooltip v-if="hasNextVersion" bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" icon @click="getNextDeck">
                            <v-icon>mdi-update</v-icon>
                        </v-btn>
                    </template>
                    Tästä pakasta on saatavilla uudempi versio
                </v-tooltip>

                <v-toolbar-title>
                    {{ deck.name }}
                </v-toolbar-title>

                <div class="flex-grow-1"></div>
                <deck-menu
                    :deck="deck"
                    @next="getNextDeck"
                    @previous="getPreviousDeck"
                    @delete="$emit('delete', $event)"
                >
                </deck-menu>
            </v-app-bar>

            <v-list dense>
                <v-list-item v-for="card in sortedCards" :key="card.code">
                    <v-list-item-avatar>
                        {{ card.total }}
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>
                            <span
                                v-if="card.is_unique"
                                title="Uniikki"
                                style="font-size: smaller"
                            >
                                &#10040;
                            </span>
                            {{ card.name }}
                            <em v-if="card.xp > 0"> ({{ card.xp }}xp) </em>
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            {{ card.faction_name }}, {{ card.type_name }}
                            <template v-if="card.slot">
                                , {{ card.slot }}
                            </template>
                        </v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                        <v-menu bottom left nudge-bottom="40">
                            <template v-slot:activator="{ on }">
                                <v-btn icon v-on="on">
                                    <v-icon color="grey lighten-1">
                                        mdi-information
                                    </v-icon>
                                </v-btn>
                            </template>

                            <img
                                :src="`https://www.arkhamdb.com/${card.imagesrc}`"
                                width="300px"
                                height="419px"
                            />
                        </v-menu>
                    </v-list-item-action>
                </v-list-item>
            </v-list>

            <!-- <ul>
                <li v-for="card in sortedCards" :key="card.code">
                    {{card.total}} &times; {{card.name}} ({{card.type_name}})
                </li>
            </ul>
            <pre>
            {{deck.cards[0]}}
            </pre> -->
        </v-card>
    </div>
</template>

<script>
import ArkhamApi from "@/services/ArkhamApi";
import DeckMenu from "./DeckMenu";

export default {
    components: {
        DeckMenu,
    },

    props: {
        deckId: [Number, String],
        player: String,
    },
    data() {
        return {
            error: "",
            ready: false,
            deck: {},
            deckColor: "",
        };
    },

    methods: {
        getPreviousDeck() {
            if (this.deck.previous_deck) {
                this.loadDeck(this.deck.previous_deck);
            }
        },

        getNextDeck() {
            if (this.deck.next_deck) {
                this.loadDeck(this.deck.next_deck);
            }
        },

        loadDeck(deckId) {
            this.ready = false;
            const oldId = this.deck.id;
            ArkhamApi.getDeck(deckId)
                .then((deck) => {
                    this.deck = deck;
                    this.ready = true;
                })
                .then(() => this.$emit("update", this.deck, oldId))
                .catch((error) => {
                    this.error = error;
                });
        },

        // eslint-disable-next-line no-unused-vars
        cardClicked(card) {
            // Nothing... Show details about card?
        },

        localDate(utcDate, fullTime = false) {
            const date = new Date(utcDate);
            if (fullTime) {
                let hours = date.getHours();
                if (hours < 10) {
                    hours = "0" + hours;
                }
                return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()} klo ${hours}:${date.getMinutes()}`;
            } else {
                return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
            }
            // return date.toLocaleString();
        },

        colorByTags(tags) {
            if (tags.includes("survivor")) {
                return "red";
            }
            if (tags.includes("rogue")) {
                return "teal";
            }
            if (tags.includes("seeker")) {
                return "amber";
            }
            if (tags.includes("mystic")) {
                return "purple";
            }
            if (tags.includes("guardian")) {
                return "blue";
            }
            if (tags.includes("neutral")) {
                return "grey";
            }

            console.log("Ei väriä", tags);
            return "blue-grey";
        },

        getDeckColor() {
            return this.colorByTags(this.deck.investigatorCard.faction_code);
        },
    },

    computed: {
        hasPreviousVersion() {
            return Boolean(this.deck.previous_deck);
        },

        hasNextVersion() {
            return Boolean(this.deck.next_deck);
        },

        sortedCards() {
            const filter = this.$store.state.cardFilter;

            return this.deck.cards
                .slice()
                .filter((card) => {
                    if (!filter || filter.trim().length === 0) {
                        return true;
                    }

                    const terms = filter
                        .split(" ")
                        .map((term) => term.trim().toLowerCase());
                    let match = false;
                    for (const term of terms) {
                        if (term.length === 0) {
                            continue;
                        }

                        match =
                            card.type_code === term ||
                            card.faction_code === term ||
                            card.name.toLowerCase().includes(term) ||
                            (card.slot && card.slot.toLowerCase() === term) ||
                            card.traits
                                .split(" ")
                                .map((trait) =>
                                    trait
                                        .trim()
                                        .toLowerCase()
                                        .replace(/\.$/, "")
                                )
                                .includes(term);

                        if (!match) {
                            return false;
                        }
                    }

                    return match;
                })
                .sort((a, b) => {
                    if (a.type_code < b.type_code) return -1;
                    if (a.type_code > b.type_code) return 1;

                    if (a.slot < b.slot) return -1;
                    if (a.slot > b.slot) return 1;

                    if (a.name < b.name) return -1;
                    if (a.name > b.name) return 1;

                    if (a.xp < b.xp) return -1;
                    if (a.xp > b.xp) return 1;

                    return 0;
                });
        },
    },

    created() {
        this.loadDeck(this.deckId);
    },
};
</script>

<style scoped>
.v-list-item__avatar,
.v-list-item__content {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px !important;
}

.v-list-item {
    border-bottom: 1px solid #ddd;
}
</style>