<template>
    <v-app>
        <v-app-bar app extension-height="64">
            <v-toolbar-title class="headline text-uppercase">
                <span>ARKHAM</span>
                <span class="font-weight-light">PAKKAVERTAILIJA</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn icon @click="toggleSearch">
                <v-icon>mdi-magnify</v-icon>
            </v-btn>
            <v-menu v-model="menu" tile offset-y :close-on-content-click="false" @input="onDeckAddOpen">
                <template v-slot:activator="{ on }">
                    <v-btn icon color="primary" v-on="on">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </template>

                <v-card width="400px" tile>
                    <v-toolbar color="indigo" dark flat>
                        <v-toolbar-title>Lisää pakka</v-toolbar-title>
                    </v-toolbar>
                    <div style="margin: 10px">
                        <v-form>
                            <v-text-field
                                ref="playerNameInput"
                                v-model="playerName"
                                required
                                label="Pelaaja"
                            ></v-text-field>
                            <v-text-field
                                v-model="deckId"
                                required
                                label="Pakan tunnus"
                            ></v-text-field>
                        </v-form>
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn plain @click="menu = false">Peruuta</v-btn>
                        <v-btn color="indigo" dark plain @click="addDeckButtonClicked">
                            Lisää
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-menu>

            <template #extension v-if="searchVisible">
                <v-text-field
                    ref="filterInput"
                    full-width
                    hide-details
                    flat
                    prepend-inner-icon="mdi-magnify"
                    placeholder="Rajaa kortteja"
                    clearable
                    v-model="filter"
                >
                    <template #append>
                        <v-menu open-on-hover tile offset-y>
                            <template #activator="{on, attrs}">
                                <v-icon v-on="on" v-bind="attrs" class="d-inlineblock ml-1">mdi-information</v-icon>                                
                            </template>
                            <v-card tile min-width="300">
                                <v-card-text>
                                    <v-subheader class="text-uppercase">Hakuehdot</v-subheader>
                                    <ul>
                                        <li>Erota hakuehdot välilyönnillä</li>
                                        <li><strong>Tyyppi</strong>: mystic, seeker, rogue, guardian, survivor, neutral</li>
                                        <li><strong>Kortin nimi</strong>: Sana joka esiintyy kortin nimessä</li>
                                        <li><strong>Slot</strong>: hand, ally, relic...</li>
                                        <li><strong>Trait</strong>: item, melee, criminal...</li>
                                    </ul>

                                    <v-subheader class="text-uppercase">Esimerkkejä</v-subheader>
                                    <ul>
                                        <li><strong>item hand rogue</strong>: Näytä käteen menevät esineet roguelta</li>
                                        <li><strong>ally</strong>: Näytä kaikki liittolaiset</li>
                                        <li><strong>insight</strong>: Näytä kaikki <em>insight</em>-kortit</li>
                                    </ul>
                                </v-card-text>
                            </v-card>
                        </v-menu>
                        
                    </template>
                </v-text-field>
            </template>
        </v-app-bar>

        <v-content>
            <div>
                <deck-errors :decks="deckCollection"></deck-errors>
            </div>

            <v-container v-if="ready" fluid class="pa-0">
                <v-row
                    no-gutters
                    class="flex-nowrap justify-xl-center"
                    style="overflow: auto"
                >
                    <v-col
                        v-for="deck in decks"
                        :key="deck.code"
                        style="max-width: 400px"
                    >
                        <PlayerDeck
                            :deck-id="deck.code"
                            :player="deck.player"
                            @update="updateDeckCollection"
                            @delete="deleteDeck(deck.code)"
                        />
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import ArkhamApi from "@/services/ArkhamApi";
import PlayerDeck from "./components/PlayerDeck";
import DeckErrors from "./components/DeckErrors";

export default {
    name: "App",
    components: {
        DeckErrors,
        PlayerDeck,
    },
    data() {
        return {
            searchVisible: false,
            decks: [],
            deckCollection: [],
            deckId: "",
            playerName: "",
            menu: false,
            ready: false,
        };
    },

    methods: {
        addDeckButtonClicked() {
            if (this.playerName.length === 0 || this.deckId.length === 0) {
                return false;
            }

            this.addDeck(this.playerName, this.deckId);
            this.playerName = "";
            this.deckId = "";
            this.menu = false;
        },

        onDeckAddOpen(open) {
            if(open) {
                this.$nextTick(() => {
                    window.setTimeout(() => this.$refs.playerNameInput.focus(), 150);                   
                });
            }            
        },

        addDeck(owener, code) {
            this.decks.push({
                player: owener,
                code: code,
            });

            this.saveDeckState();
        },

        deleteDeck(deckCode) {
            const i = this.decks.findIndex((d) => d.code === deckCode);
            if (i >= 0) {
                this.decks.splice(i, 1);
            }

            this.saveDeckState();
        },

        saveDeckState() {
            const idList = this.decks.map((d) => d.player + "," + d.code);
            const hash = "#deck-" + idList.join("-");
            window.history.replaceState(undefined, undefined, hash);
            window.localStorage.setItem("deckHash", hash);
        },

        updateDeckCollection(deck, oldId) {
            if (oldId) {
                const index = this.deckCollection.findIndex(
                    (d) => d.id === oldId
                );
                this.deckCollection.splice(index, 1, deck);
            } else {
                const index = this.deckCollection.findIndex(
                    (d) => d.id === deck.id
                );
                if (index !== -1) {
                    oldId = this.deckCollection[index].id;
                    this.deckCollection.splice(index, 1, deck);
                } else {
                    this.deckCollection.push(deck);
                }
            }

            if (oldId) {
                const hash = window.location.hash.replace(oldId, deck.id);
                window.history.replaceState(undefined, undefined, hash);
                window.localStorage.setItem("deckHash", hash);
            }
        },

        /**
         * Parse decks from deck hash
         * @param {String} hash Deck hash. Example: #deck-Lauri,506785-Matti,486053-Niko,486301-Miikka,466032
         */
        parseDecksFromHash(hash) {
            const decks = hash.split("-");
            if (decks.length === 0 || decks[0] !== "#deck") {
                return;
            }

            decks.shift();
            decks.forEach((entry) => {
                const [player, code] = entry.split(",");
                if (player.length > 0 && Number(code) > 0) {
                    this.addDeck(player, code);
                }
            });
        },

        /**
         * Add default decks
         * We should get rid of it at some point at the Future
         * Just ask those decks from user...
         */
        setDefaultDecks() {
            this.addDeck("Lauri", "485972");
            this.addDeck("Matti", "486053");
            this.addDeck("Niko", "486301");
            this.addDeck("Miikka", "466032");
        },

        /**
         * Restore decks that are saved to localStorage
         * This should be called only if decks from
         * location hash are not set.
         *
         * If there are no decks in local storage then
         * revert back to default decks
         */
        restoreDecks() {
            const hash = window.localStorage.getItem("deckHash");
            if (hash && hash.slice(0, 5) === "#deck") {
                this.parseDecksFromHash(hash);
            } else {
                // this.setDefaultDecks();
            }
        },

        toggleSearch() {
            this.searchVisible = !this.searchVisible;
            if (this.searchVisible) {
                this.$nextTick(() => {
                    this.$refs.filterInput.focus();
                });
            } else {
                this.filter = "";
            }
        },
    },

    computed: {
        filter: {
            get() {
                return this.$store.state.cardFilter;
            },
            set(val) {
                this.$store.commit("updateCardFilter", val);
            },
        },
    },
    created() {
        ArkhamApi.getCards()
            .then(() => (this.ready = true))
            .then(() => {
                this.parseDecksFromHash(window.location.hash);
                if (this.decks.length === 0) {
                    this.restoreDecks();
                }
            });
    },
};
</script>